# Created by .ignore support plugin (hsz.mobi)
.idea
/composer.json
/HISTORY.md
/ht.access
/license.txt
/.htaccess
/index.php
/.gitignore
/.travis.yml
/phpunit.xml
/index-ajax.php
/robots.txt
/CONTRIBUTING.md
/tests/
/assets/flash/
/assets/js/
/assets/docs/
/assets/files/
/assets/media/
/assets/modules/
/assets/site/
/assets/cache/
/assets/tvs/
/assets/backup/
/assets/import/
/assets/templates/
/assets/.thumbs/
/assets/index.html
/assets/export/
/assets/lib/
/assets/plugins/
/assets/images/
/assets/snippets/firstchildredirect/
/assets/snippets/DocLister/
/assets/snippets/shopkeeper/
/assets/snippets/index.html
/assets/snippets/shk_userprofile/
/assets/snippets/if/
/assets/snippets/DLUsers/
/assets/snippets/catalogView/
/assets/snippets/ultimateparent/
/assets/snippets/phpthumb/
/assets/snippets/paykeeper/
/assets/snippets/docinfo/
/assets/snippets/FormLister/
/assets/snippets/summary/
/assets/elements/
/manager/
!/assets/tvs/
/assets/tvs/index.html
/assets/tvs/multitv/includes/
/assets/tvs/multitv/multitv.customtv.php
/assets/tvs/multitv/docs/
/assets/tvs/multitv/multitv.module.php
/assets/tvs/multitv/buttons/
/assets/tvs/multitv/dittoExtender/
/assets/tvs/multitv/updatetv.snippet.php
/assets/tvs/multitv/moduleconfigs/
/assets/tvs/multitv/multitv.snippet.php
/assets/tvs/multitv/templates/
/assets/tvs/multitv/languages/
/assets/tvs/multitv/processors/
/assets/tvs/multitv/transformtv.snippet.php
/assets/tvs/multitv/multitv.connector.php
/assets/tvs/multitv/settings/
/assets/tvs/multitv/phx-modifier/
/assets/tvs/multitv/css/
/assets/tvs/multitv/js/
/assets/tvs/multitv/configs/dbtabledemo.config.json
/assets/tvs/multitv/configs/default.config.inc.php
/assets/tvs/multitv/configs/multidemo.config.inc.php
/assets/tvs/multitv/configs/images.config.inc.php
/assets/tvs/multitv/configs/sidebar.config.inc.php
/assets/tvs/multitv/configs/links.config.inc.php
/assets/tvs/multitv/configs/multicontent.config.inc.php
/assets/tvs/multitv/configs/event.config.inc.php
/assets/libs/
/.gitattributes
